<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wind.boot.dao.CategoryMapper" >
    <resultMap id="BaseResultMap" type="com.wind.boot.entity.po.Category" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>


    <sql id="Column_List" >
        id,name
    </sql>

    <sql id="Column_Selective_List" >
        <trim prefix="" suffix="" suffixOverrides="," prefixOverrides=",">
			<if test="id!= null" >
				, id = #{id,jdbcType=INTEGER}
			</if>
			<if test="name!= null and name!=''" >
				, name = #{name,jdbcType=VARCHAR}
			</if>
		</trim>
    </sql>

    <sql id="Column_Selective_And_List" >
        <if test="id!= null" >
			and id = #{id,jdbcType=INTEGER}
		</if>
		<if test="name!= null and name!=''" >
			and name = #{name,jdbcType=VARCHAR}
		</if>
		
    </sql>

    <sql id="Column_Assign_List" >
        #{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR}
    </sql>

    <sql id="InsertBatch_List" >
        #{item.id,jdbcType=INTEGER},#{item.name,jdbcType=VARCHAR}
    </sql>

    <insert id="insert" parameterType="com.wind.boot.entity.po.Category" useGeneratedKeys="true" keyProperty="id">
        insert into category (
        <include refid="Column_List" />
        ) values (
        <include refid="Column_Assign_List" />
        )
    </insert>

    <!--<insert id="insertBatch" >-->
    <!--insert into category (-->
    <!--<include refid="Column_List" />-->
    <!--) values-->
    <!--<foreach collection="list" item="item" separator=",">-->
    <!--(-->
    <!--<include refid="InsertBatch_List" />-->
    <!--)-->
    <!--</foreach>-->
    <!--</insert>-->

    <delete id="deleteById">
        delete from category where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="findById" resultType="com.wind.boot.entity.vo.CategoryVO">
        select
        r.id,r.name
        from category r
        where r.id = #{id,jdbcType=INTEGER}
    </select>

    <update id="update" parameterType="com.wind.boot.entity.po.Category" >
        update category
        <set>
            <include refid="Column_Selective_List" />
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="com.wind.boot.entity.po.Category" >
        delete from category where
        <include refid="Column_Selective_And_List" />
    </delete>

    <select id="list" resultType="com.wind.boot.entity.vo.CategoryVO" parameterType="com.wind.boot.entity.dto.CategorySearchDTO">
        select
        r.id,r.name
        from category r
        where 1 = 1
        <if test="id!= null" >
			and r.id = #{id,jdbcType=INTEGER}
		</if>
		<if test="name!= null and name!=''" >
			and r.name like concat('%', #{name,jdbcType=VARCHAR}, '%')
		</if>
		
    </select>
</mapper>

