<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wind.boot.dao.LearnMapper" >
    <resultMap id="BaseResultMap" type="com.wind.boot.entity.po.Learn" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="info" property="info" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>


    <sql id="Column_List" >
        id,title,info,url,create_time
    </sql>

    <sql id="Column_Selective_List" >
        <trim prefix="" suffix="" suffixOverrides="," prefixOverrides=",">
			<if test="id!= null" >
				, id = #{id,jdbcType=INTEGER}
			</if>
			<if test="title!= null and title!=''" >
				, title = #{title,jdbcType=VARCHAR}
			</if>
			<if test="info!= null and info!=''" >
				, info = #{info,jdbcType=VARCHAR}
			</if>
			<if test="url!= null and url!=''" >
				, url = #{url,jdbcType=VARCHAR}
			</if>
			<if test="createTime!= null" >
				, create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
		</trim>
    </sql>

    <sql id="Column_Selective_And_List" >
        <if test="id!= null" >
			and id = #{id,jdbcType=INTEGER}
		</if>
		<if test="title!= null and title!=''" >
			and title = #{title,jdbcType=VARCHAR}
		</if>
		<if test="info!= null and info!=''" >
			and info = #{info,jdbcType=VARCHAR}
		</if>
		<if test="url!= null and url!=''" >
			and url = #{url,jdbcType=VARCHAR}
		</if>
		<if test="createTime!= null" >
			and create_time = #{createTime,jdbcType=TIMESTAMP}
		</if>
		
    </sql>

    <sql id="Column_Assign_List" >
        #{id,jdbcType=INTEGER},#{title,jdbcType=VARCHAR},#{info,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}
		
    </sql>

    <sql id="InsertBatch_List" >
        #{item.id,jdbcType=INTEGER},#{item.title,jdbcType=VARCHAR},#{item.info,jdbcType=VARCHAR},#{item.url,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP}
		
    </sql>

    <insert id="insert" parameterType="com.wind.boot.entity.po.Learn" useGeneratedKeys="true" keyProperty="id">
        insert into learn (
        <include refid="Column_List" />
        ) values (
        <include refid="Column_Assign_List" />
        )
    </insert>

    <!--<insert id="insertBatch" >-->
    <!--insert into learn (-->
    <!--<include refid="Column_List" />-->
    <!--) values-->
    <!--<foreach collection="list" item="item" separator=",">-->
    <!--(-->
    <!--<include refid="InsertBatch_List" />-->
    <!--)-->
    <!--</foreach>-->
    <!--</insert>-->

    <delete id="deleteById">
        delete from learn where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="findById" resultType="com.wind.boot.entity.vo.LearnVO">
        select
        r.id,r.title,r.info,r.url,r.create_time createTime
        from learn r
        where r.id = #{id,jdbcType=INTEGER}
    </select>

    <update id="update" parameterType="com.wind.boot.entity.po.Learn" >
        update learn
        <set>
            <include refid="Column_Selective_List" />
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="com.wind.boot.entity.po.Learn" >
        delete from learn where
        <include refid="Column_Selective_And_List" />
    </delete>

    <select id="list" resultType="com.wind.boot.entity.vo.LearnVO" parameterType="com.wind.boot.entity.dto.LearnSearchDTO">
        select
        r.id,r.title,r.info,r.url,r.create_time createTime
        from learn r
        where 1 = 1
        <if test="id!= null" >
			and r.id = #{id,jdbcType=INTEGER}
		</if>
		<if test="title!= null and title!=''" >
			and r.title like concat('%', #{title,jdbcType=VARCHAR}, '%')
		</if>
		<if test="info!= null and info!=''" >
			and r.info like concat('%', #{info,jdbcType=VARCHAR}, '%')
		</if>
		<if test="url!= null and url!=''" >
			and r.url like concat('%', #{url,jdbcType=VARCHAR}, '%')
		</if>
		<if test="createTime!= null" >
			and r.create_time = #{createTime,jdbcType=TIMESTAMP}
		</if>
		
    </select>
</mapper>

