<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wind.boot.dao.PaperRecordMapper" >
    <resultMap id="BaseResultMap" type="com.wind.boot.entity.po.PaperRecord" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="paper_id" property="paperId" jdbcType="INTEGER" />
        <result column="issue_id" property="issueId" jdbcType="INTEGER" />
        <result column="answer" property="answer" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>


    <sql id="Column_List" >
        id,user_id,paper_id,issue_id,answer,create_time
    </sql>

    <sql id="Column_Selective_List" >
        <trim prefix="" suffix="" suffixOverrides="," prefixOverrides=",">
			<if test="id!= null" >
				, id = #{id,jdbcType=INTEGER}
			</if>
			<if test="userId!= null" >
				, user_id = #{userId,jdbcType=INTEGER}
			</if>
			<if test="paperId!= null" >
				, paper_id = #{paperId,jdbcType=INTEGER}
			</if>
			<if test="issueId!= null" >
				, issue_id = #{issueId,jdbcType=INTEGER}
			</if>
			<if test="answer!= null and answer!=''" >
				, answer = #{answer,jdbcType=VARCHAR}
			</if>
			<if test="createTime!= null" >
				, create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
		</trim>
    </sql>

    <sql id="Column_Selective_And_List" >
        <if test="id!= null" >
			and id = #{id,jdbcType=INTEGER}
		</if>
		<if test="userId!= null" >
			and user_id = #{userId,jdbcType=INTEGER}
		</if>
		<if test="paperId!= null" >
			and paper_id = #{paperId,jdbcType=INTEGER}
		</if>
		<if test="issueId!= null" >
			and issue_id = #{issueId,jdbcType=INTEGER}
		</if>
		<if test="answer!= null and answer!=''" >
			and answer = #{answer,jdbcType=VARCHAR}
		</if>
		<if test="createTime!= null" >
			and create_time = #{createTime,jdbcType=TIMESTAMP}
		</if>
		
    </sql>

    <sql id="Column_Assign_List" >
        #{id,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{paperId,jdbcType=INTEGER},#{issueId,jdbcType=INTEGER},#{answer,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}
    </sql>

    <sql id="InsertBatch_List" >
        #{item.id,jdbcType=INTEGER},#{item.userId,jdbcType=INTEGER},#{item.paperId,jdbcType=INTEGER},#{item.issueId,jdbcType=INTEGER},#{item.answer,jdbcType=VARCHAR},
		#{item.createTime,jdbcType=TIMESTAMP}
    </sql>

    <insert id="insert" parameterType="com.wind.boot.entity.po.PaperRecord" useGeneratedKeys="true" keyProperty="id">
        insert into paper_record (
        <include refid="Column_List" />
        ) values (
        <include refid="Column_Assign_List" />
        )
    </insert>

    <!--<insert id="insertBatch" >-->
    <!--insert into paper_record (-->
    <!--<include refid="Column_List" />-->
    <!--) values-->
    <!--<foreach collection="list" item="item" separator=",">-->
    <!--(-->
    <!--<include refid="InsertBatch_List" />-->
    <!--)-->
    <!--</foreach>-->
    <!--</insert>-->

    <delete id="deleteById">
        delete from paper_record where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="findById" resultType="com.wind.boot.entity.vo.PaperRecordVO">
        select
        r.id,r.user_id userId,r.paper_id paperId,r.issue_id issueId,r.answer,r.create_time createTime
        from paper_record r
        where r.id = #{id,jdbcType=INTEGER}
    </select>

    <update id="update" parameterType="com.wind.boot.entity.po.PaperRecord" >
        update paper_record
        <set>
            <include refid="Column_Selective_List" />
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="com.wind.boot.entity.po.PaperRecord" >
        delete from paper_record where
        <include refid="Column_Selective_And_List" />
    </delete>

    <select id="list" resultType="com.wind.boot.entity.vo.PaperRecordVO" parameterType="com.wind.boot.entity.dto.PaperRecordSearchDTO">
        select
        r.id,r.user_id userId,r.paper_id paperId,r.issue_id issueId,r.answer,r.create_time createTime
        from paper_record r
        where 1 = 1
        <if test="id!= null" >
			and r.id = #{id,jdbcType=INTEGER}
		</if>
		<if test="userId!= null" >
			and r.user_id = #{userId,jdbcType=INTEGER}
		</if>
		<if test="paperId!= null" >
			and r.paper_id = #{paperId,jdbcType=INTEGER}
		</if>
		<if test="issueId!= null" >
			and r.issue_id = #{issueId,jdbcType=INTEGER}
		</if>
		<if test="answer!= null and answer!=''" >
			and r.answer like concat('%', #{answer,jdbcType=VARCHAR}, '%')
		</if>
		<if test="createTime!= null" >
			and r.create_time = #{createTime,jdbcType=TIMESTAMP}
		</if>
		
    </select>
</mapper>

