<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wind.boot.dao.QuestionCommentMapper" >
    <resultMap id="BaseResultMap" type="com.wind.boot.entity.po.QuestionComment" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="question_id" property="questionId" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>


    <sql id="Column_List" >
        id,user_id,question_id,content,create_time
    </sql>

    <sql id="Column_Selective_List" >
        <trim prefix="" suffix="" suffixOverrides="," prefixOverrides=",">
			<if test="id!= null" >
				, id = #{id,jdbcType=INTEGER}
			</if>
			<if test="userId!= null" >
				, user_id = #{userId,jdbcType=INTEGER}
			</if>
			<if test="questionId!= null" >
				, question_id = #{questionId,jdbcType=INTEGER}
			</if>
			<if test="content!= null and content!=''" >
				, content = #{content,jdbcType=VARCHAR}
			</if>
			<if test="createTime!= null" >
				, create_time = #{createTime,jdbcType=TIMESTAMP}
			</if>
		</trim>
    </sql>

    <sql id="Column_Selective_And_List" >
        <if test="id!= null" >
			and id = #{id,jdbcType=INTEGER}
		</if>
		<if test="userId!= null" >
			and user_id = #{userId,jdbcType=INTEGER}
		</if>
		<if test="questionId!= null" >
			and question_id = #{questionId,jdbcType=INTEGER}
		</if>
		<if test="content!= null and content!=''" >
			and content = #{content,jdbcType=VARCHAR}
		</if>
		<if test="createTime!= null" >
			and create_time = #{createTime,jdbcType=TIMESTAMP}
		</if>
		
    </sql>

    <sql id="Column_Assign_List" >
        #{id,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{questionId,jdbcType=INTEGER},#{content,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}
		
    </sql>

    <sql id="InsertBatch_List" >
        #{item.id,jdbcType=INTEGER},#{item.userId,jdbcType=INTEGER},#{item.questionId,jdbcType=INTEGER},#{item.content,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP}
		
    </sql>

    <insert id="insert" parameterType="com.wind.boot.entity.po.QuestionComment" useGeneratedKeys="true" keyProperty="id">
        insert into question_comment (
        <include refid="Column_List" />
        ) values (
        <include refid="Column_Assign_List" />
        )
    </insert>

    <!--<insert id="insertBatch" >-->
    <!--insert into question_comment (-->
    <!--<include refid="Column_List" />-->
    <!--) values-->
    <!--<foreach collection="list" item="item" separator=",">-->
    <!--(-->
    <!--<include refid="InsertBatch_List" />-->
    <!--)-->
    <!--</foreach>-->
    <!--</insert>-->

    <delete id="deleteById">
        delete from question_comment where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="findById" resultType="com.wind.boot.entity.vo.QuestionCommentVO">
        select
        r.id,r.user_id userId,r.question_id questionId,r.content,r.create_time createTime
        from question_comment r
        where r.id = #{id,jdbcType=INTEGER}
    </select>

    <update id="update" parameterType="com.wind.boot.entity.po.QuestionComment" >
        update question_comment
        <set>
            <include refid="Column_Selective_List" />
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="com.wind.boot.entity.po.QuestionComment" >
        delete from question_comment where
        <include refid="Column_Selective_And_List" />
    </delete>

    <select id="list" resultType="com.wind.boot.entity.vo.QuestionCommentVO" parameterType="com.wind.boot.entity.dto.QuestionCommentSearchDTO">
        select
        r.id,r.user_id userId,r.question_id questionId,r.content,r.create_time createTime
        from question_comment r
        where 1 = 1
        <if test="id!= null" >
			and r.id = #{id,jdbcType=INTEGER}
		</if>
		<if test="userId!= null" >
			and r.user_id = #{userId,jdbcType=INTEGER}
		</if>
		<if test="questionId!= null" >
			and r.question_id = #{questionId,jdbcType=INTEGER}
		</if>
		<if test="content!= null and content!=''" >
			and r.content like concat('%', #{content,jdbcType=VARCHAR}, '%')
		</if>
		<if test="createTime!= null" >
			and r.create_time = #{createTime,jdbcType=TIMESTAMP}
		</if>
		
    </select>
</mapper>

