<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wind.boot.dao.UserPermissionMapper" >
    <resultMap id="BaseResultMap" type="com.wind.boot.entity.po.UserPermission" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
    </resultMap>


    <sql id="Column_List" >
        id,user_id,type
    </sql>

    <sql id="Column_Selective_List" >
        <trim prefix="" suffix="" suffixOverrides="," prefixOverrides=",">
			<if test="id!= null" >
				, id = #{id,jdbcType=INTEGER}
			</if>
			<if test="userId!= null" >
				, user_id = #{userId,jdbcType=INTEGER}
			</if>
			<if test="type!= null" >
				, type = #{type,jdbcType=INTEGER}
			</if>
		</trim>
    </sql>

    <sql id="Column_Selective_And_List" >
        <if test="id!= null" >
			and id = #{id,jdbcType=INTEGER}
		</if>
		<if test="userId!= null" >
			and user_id = #{userId,jdbcType=INTEGER}
		</if>
		<if test="type!= null" >
			and type = #{type,jdbcType=INTEGER}
		</if>
		
    </sql>

    <sql id="Column_Assign_List" >
        #{id,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{type,jdbcType=INTEGER}
    </sql>

    <sql id="InsertBatch_List" >
        #{item.id,jdbcType=INTEGER},#{item.userId,jdbcType=INTEGER},#{item.type,jdbcType=INTEGER}
    </sql>

    <insert id="insert" parameterType="com.wind.boot.entity.po.UserPermission" useGeneratedKeys="true" keyProperty="id">
        insert into user_permission (
        <include refid="Column_List" />
        ) values (
        <include refid="Column_Assign_List" />
        )
    </insert>

    <!--<insert id="insertBatch" >-->
    <!--insert into user_permission (-->
    <!--<include refid="Column_List" />-->
    <!--) values-->
    <!--<foreach collection="list" item="item" separator=",">-->
    <!--(-->
    <!--<include refid="InsertBatch_List" />-->
    <!--)-->
    <!--</foreach>-->
    <!--</insert>-->

    <delete id="deleteById">
        delete from user_permission where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="findById" resultType="com.wind.boot.entity.vo.UserPermissionVO">
        select
        r.id,r.user_id userId,r.type
        from user_permission r
        where r.id = #{id,jdbcType=INTEGER}
    </select>

    <update id="update" parameterType="com.wind.boot.entity.po.UserPermission" >
        update user_permission
        <set>
            <include refid="Column_Selective_List" />
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="com.wind.boot.entity.po.UserPermission" >
        delete from user_permission where
        <include refid="Column_Selective_And_List" />
    </delete>

    <select id="list" resultType="com.wind.boot.entity.vo.UserPermissionVO" parameterType="com.wind.boot.entity.dto.UserPermissionSearchDTO">
        select
        r.id,r.user_id userId,r.type, u.username
        from user_permission r
        left join user u on r.user_id = u.id
        where 1 = 1
        <if test="id!= null" >
			and r.id = #{id,jdbcType=INTEGER}
		</if>
		<if test="userId!= null" >
			and r.user_id = #{userId,jdbcType=INTEGER}
		</if>
		<if test="type!= null" >
			and r.type = #{type,jdbcType=INTEGER}
		</if>
		
    </select>
</mapper>

